.container {
  display: flex;
  align-items: center;
  height: 5em;
}

.mat-elevation-z8 {
  border: 1px solid rgb(144, 112, 112);
  padding: 10px 10px;
  align-items: center;
}

h1 {
  cursor: pointer;
}