.form {
  width: 30%;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.full-width {
  width: 100%;
}

a,
button {
  width: 100%;
  margin-bottom: .5rem;
}

a strong,
button strong {
  font-size: 1rem;
}

.margin {
  margin-right: 15px;
}

section {
  margin-bottom: 15px;
}

.card {
  width: 20%;
  margin: 1rem auto;
  background-color: rgb(235, 235, 235);
}

li {
  font-size: 1rem;
  list-style: none;
}

li strong {
  font: 1.2rem;
}

hr {
  margin: 20px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  height: 30%;
}